

.portfolio {
    background-color:rgb(236, 236, 236);
   

}




.icon{
    top: 0px;
    
  
   left: 0px;
    position: relative;

}
.menu{
    top:0px;
    left: 0px;
    position: relative;
}





header{ 
  
    background:burlywood;
    
    margin-right:10px;
    margin-left: 10px;
    padding-top:10px;
    padding-bottom:10px;
    width: auto;
    height: 100px   ;
    z-index: -1;

  
}


.box4{
    
 
    text-align: right;
    margin-right:0px;
    margin-left: 0px;
    padding-top:0px;
    padding-bottom:0px;
 
  }
  
  .row2{
      display:flex;
     
      flex-direction: column;
  
   justify-content: space-evenly;
  }
  
  .col2{
  flex-grow: 1;
  }


  
  
  @media only screen and (min-width:768px){
  .row2 {
  flex-direction: row;
  }
  
  } 


.web{
    margin-left: 2%;
    margin-right:2%;
    text-align: center;  
    background:whitesmoke;
}




    .container {
        
        text-align: center;
        width: auto;
        height: auto;

    }
    
    .box{
        
        margin-left: 0px;
        margin-right: 10px;
      

    }

    .crow{
        display:flex;
        flex-direction: column;

    }

.col{
    flex-grow: 1;
}
    
   
  
@media only screen and (min-width:768px){
.crow {
    flex-direction: row;
}

} 

.contact {
        
    text-align: center;
    width: auto;
    height: auto;

}

.box1{
    
  text-align: center;
  
}

.row{
    display:flex;
    align-items: center;
    flex-direction: column;
  padding-top: 10px;
 padding-bottom: 10px;
 justify-content: space-evenly;
}

.col{
flex-grow: 1;
}



@media only screen and (min-width:768px){
.row {
flex-direction: row;
}

} 
.follow{
    margin-left: 2%;
    margin-right:2%;
    background:whitesmoke;
    text-align:center;
}

@media only screen and (min-width:768px){
.row{flex-direction: row;
  }

}




.facebook{
    text-align:center;
}


.one-third{
    text-align:center;
    
}

.box3{
    
 
    text-align: center;
  
    align-items: center;   
   margin-right:100px;
    margin-left: 10px;
  padding-top: 20px;
  padding-bottom: 60px;
    justify-content: space-evenly;
    


  }
  
  .row1{
      display:flex;
     
      flex-direction: column;
   
  }
  
  .col1{
  flex-grow: 1;
  }

  .img-full1 {
    width: 20%;
    height: auto;
    
    align-items: center;
    position: relative;
    
    }
  
  
  @media only screen and (min-width:768px){
  .row1 {
  flex-direction: row;
  }
  
  } 

.text{
    text-align: center;
    margin-right:10px;
    margin-left: 10px;
    padding-top:10px;
    padding-bottom:-10px;
    background:whitesmoke;
}

.title{
   text-align:center;
   background:whitesmoke;
   margin-left: 2%;
   margin-right:2%;
   
   
}



.photo{
   

    display:flex;
    align-items:center;
    justify-content: center;
    margin-left: 25px;
    margin-right:25px;
    padding-bottom:10px;
    padding-top: 10px;
    justify-content:space-evenly;
    flex-direction: column;
    
    
}

.half {
  
    display:flex;
    align-items:center;
    justify-content: center;
    margin-left: 25px;
    margin-right:25px;
    padding-bottom:20px;
    padding-top: 20px;
    justify-content:space-evenly;
    flex-direction: column;
    
    
  
}

.space{
    padding-bottom:50px;
    padding-top: 40px; 
    
}
.about{
    display:flex;
    text-align:center;  
    margin-right:2%;
    margin-left:2%;
    background-color: rgb(187, 175, 161);
    border: 3px ridge black;
    flex-direction: column;
}

.content{
    
    text-align:center;
    margin-right:2%;
    margin-left:2%;
    padding-bottom:5px;
    padding-top: 10px;
    background:whitesmoke;
    border: 3px ridge black;
  
    
    
}


.contactcontainer{
 
   
    justify-content: center;
    text-align:center;
    margin-left: 2%;
    margin-right:2%;
    background:whitesmoke;
    padding-bottom:0px;
    padding-top: 0px;
   



}


    


.contactcontainer2{

    justify-content: center;
    text-align:center;
    margin-left: 2%;
    margin-right:2%;
    background:whitesmoke;
    padding-bottom:5px;
    padding-top: 15px;

    
}

.bottom{
    text-align:center;  
}



