.portfolio {
    background-color:rgb(236, 236, 236);
    width: 1348px;
    margin: 0 auto;
    
}

.logo{
   float : left;
}


.search{
    
    top: 55px;
    left: 300px;
    position: absolute;
}


.icon{
    top: -3px;
    margin-right:100;
    right: -170px;
    position: absolute;

}
.menu{
    top:4px;
    right: -300px;
    position: absolute;
}





header{ 
    background:burlywood;
}




    
   



.web{
    margin-left: 105px;
    margin-right:105px;
    text-align: center;  
    background:whitesmoke;
}





    .container {
        text-align: center;
    }


      
   

.follow{
    margin-left: 105px;
    margin-right:105px;
    background:whitesmoke;
    text-align:center;
}



.row {
  
    display:flex;
    align-items:center;
    justify-content: center;
    margin-left: 53px;
    margin-right:53px;
    padding-bottom:20px;
    padding-top: 20px;
    justify-content:space-evenly;
    
    
    
  
}


.facebook{
    text-align:center;
}

.one-third{
    text-align:center;
    
}


.text{
    text-align: center;
    margin-right:80px;
    margin-left: 50px;
    padding-top:10px;
    padding-bottom:-10px;
    background:whitesmoke;
}

.title{
   text-align:center;
   background:whitesmoke;
   margin-left: 105px;
   margin-right:105px;
   
   
}


.photo{
    display:flex;
   
    margin-left: 105px;
    margin-right:25;
    
    padding-bottom:10px;
    padding-top: 20px;
    justify-content:space-evenly;
}

.space{
    padding-bottom:25px;
    padding-top: 10px; 
    
}
.about{
    text-align:center;  
    margin-right:105px;
    margin-left:105px;
    background-color: rgb(187, 175, 161);
    border: 3px ridge black;

}
.content{
    text-align:center;
    margin-right:105px;
    margin-left:105px;
    padding-bottom:5px;
    padding-top: 10px;
    background:whitesmoke;
    border: 3px ridge black;
}

.contactcontainer{
    text-align:center;
   margin-right: 105px;
margin-left:105px;
background:whitesmoke;

}
.contactcontainer2{
    text-align:center;
    padding-top: 10px;
margin-right: 105px;
margin-left:105px;
    background:whitesmoke;

}
.bottom{
    text-align:center;  
}